{% extends 'base.html.twig' %}

{% block meta %}
    <meta http-equiv="refresh" content="{{ refresh }}">
{% endblock %}

{% block title %}{{ chartName ?? "" }} Prices{% endblock %}

{% block body %}
    {% if bpi ?? false %}
        <h2>{{ chartName ?? "" }} Prices:</h2>
        <small>Updated: {{ time.updated ?? "" }}</small><br>
        {% for price in bpi ?? [] %}
            <strong>{{ price.code }}: </strong> {{ price.rate }} {{ price.symbol|raw }}<br>
        {% endfor %}
    {% else %}
        <h2>No Data</h2>
        {{ error }}
    {% endif %}
    <br>
    <small>Next refresh: <span id="countdown">{{ refresh }}</span>sec</small><br>
    <button onclick="window.location.reload();">Refresh</button>
{% endblock %}

{% block javascripts %}
    <script>
        setInterval(function () {
            const countdown = document.getElementById("countdown");
            countdown.innerHTML = (parseInt(countdown.innerHTML) - 1).toString();
        }, 1000);
    </script>
{% endblock %}